:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .ion-ios-pie:before {
    content: "\f484";
  }

  header {
    background: #2278F0;
    height: 80px;
    width: 100%;
    position: relative;
  }

  .menu {
    position: absolute;
    font-size: 30px;
    display: flex;
    color: #fff;
    top: 0;
    margin: 20px;
    &.left {
      left: 0;
    }
    &.right {
      right: 0;
    }
    & > :last-child {
      margin-left: 20px;
    }
  }
  .center-tabs {
    left: 0;
    right: 0;
    width: 300px;
    margin: 18px auto auto;

    display: flex;
    .tab {
      display: flex;
      flex: 1;
      height: 40px;
      color: #fff;
      border: 1px solid #fff;
      text-align: center;
      align-items: center;
      justify-content: center;

      &.active {
        background: #fff;
        color: #2278F0;
      }
      &:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      &:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
  md-sidenav-layout {
    height: 100%;
  }
  md-sidenav {
    width: 240px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
  }

  .profile {
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #fff;
    background-color: #2278F0;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.25);

    img {
      width: 80px;
      height: 80px;
      margin-right: 20px;
      border-radius: 100px;
    }
  }
  .menu-items {
    display: flex;
    flex-direction: column;

    a {
      display: block;
      padding: 20px;
      text-decoration: none;
      color: #2278F0;

      &:hover {
        background: #2DABFD;
        color: #fff;
      }
      &:active {
        background: #2278F0;
        color: #fff;
      }
    }
  }
}