<div class="action-line">
  <div class="currency">
    <div class="value ion-social-euro"></div>
  </div>

  <div class="input-value">
    <md-input placeholder="Amount" align="end"></md-input>
  </div>

  <div class="description">
    <md-input placeholder="Description" align="start"></md-input>
  </div>
</div>
<div class="items">
  <div class="item active"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
</div>
<div class="add-btn">ADD</div>