<div class="action-line">
    <div class="currency">
        <div class="value ion-social-euro"></div>
    </div>

    <div class="input-value">
        <input type="number" placeholder="0.0">
    </div>

    <div class="description">
        <input type="text" placeholder="DESCRIPTION">
    </div>
</div>
<div class="items">
    <div class="item active"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
</div>
<div class="add-btn">ADD</div>