<div class="action-line">
    <div class="currency">
        <div class="value ion-social-euro"></div>
    </div>

    <div class="input-value">
        <md-input placeholder="Amount" align="end"></md-input>
    </div>

    <div class="description">
        <md-input placeholder="Description" align="start"></md-input>
    </div>
</div>
<div class="items">
    <div class="item active">
        <img src="./../../../assets/icons/notes.svg" alt="salary" class="icon">
        <div class="title">Salary</div>
    </div>
    <div class="item">
        <img src="./../../../assets/icons/piggy-bank.svg" alt="salary" class="icon">
        <div class="title">Deposits</div>
    </div>
    <div class="item">
        <img src="./../../../assets/icons/money.svg" alt="salary" class="icon" style="margin-left: -35px;">
        <div class="title">Debts</div>
    </div>
    <div class="item">
        <img src="./../../../assets/icons/money-bag.svg" alt="salary" class="icon">
        <div class="title">Others</div>
    </div>
</div>
<div class="add-btn">ADD</div>