:host {
  background: #EEEEEE;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;

  .action-line {
    max-height: 80px;
    min-height: 80px;
    background: #F9F9F9;
    width: 100%;
    flex: 1;
    color: #F0F0F0;
    display: flex;

    > div {
      align-items: center;
      display: flex;
      justify-content: center;
      flex: 1;
      color: #9E9E9E;
    }

    md-input {
      font-size: 25px;
      width: 100%;
    }

    .currency {
      font-size: 60px;
      max-width: 100px;
      border-right: 2px solid #F0F0F0;
      height: 100%;
    }

    .input-value {
      border-right: 2px solid #F0F0F0;
      padding-left: 20px;
      padding-right: 20px;
      max-width: 300px;
    }
    .description {
      border-right: 2px solid #F0F0F0;;
      padding-left: 20px;
      padding-right: 20px;
      width: 100%;
    }
  }

  .items {
    flex: 1;
    position: relative;
    height: 100%;
    margin: 20px auto 140px;
    max-width: 900px;
    width: 480px;

    .item {
      float: left;
      width: 220px;
      height: 220px;
      margin: 10px;
      border-radius: 10px;
      background: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;

      img {
        margin-top: -10px;
        width: 150px;
      }
      .title {
        position: absolute;
        bottom: 10px;
        font-size: 18px;
      }

      &.active {
        border: 4px solid #FDD835;
      }
    }
  }

  .add-btn {
    color: #fff;
    text-align: center;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    width: 350px;
    margin: 20px auto;
    font-weight: bold;
    background: #2278F0 linear-gradient(-269deg, #2DABFD 0%, #1473FB 100%);
    letter-spacing: 1px;
    font-size: 20px;
    padding: 18px 50px;
    border-radius: 30px;
  }
}