* {
  font-family: Karla, "sans-serif";
  &:focus {
    outline: none;
  }
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

md-sidenav-layout, .md-sidenav-content {
  display: flex !important;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.md-sidenav-backdrop.md-sidenav-shown{
  background-color: rgba(0, 0, 0, 0.1);
}