:host {
  display: flex;
  width: 100%;
  height: 100%;
  background: #EEEEEE;
  overflow-x: hidden;
  overflow-y: hidden;
  flex-direction: column;

  .select-date-range {
    background: #2278F0;
    border-top: 1px solid #fff;
    height: 60px;
    max-height: 60px;
    display: flex;

    .btn-group {
      display: flex;
      margin: 0 auto;
      align-items: center;
    }
    .btn {
      flex: 1;
      border: 2px solid rgba(255, 255, 255, 0.25);
      border-radius: 100px;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 14px;
      line-height: 18px;
      color: #FFFFFF;
      height: 39px;
      width: 98px;
      text-align: center;
      padding-top: 9px;
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
      &.active {
        background: #fff;
        border-color: #fff;
        color: #262A30;
      }
    }
  }

  .content {
    display: flex;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
    > div {
      flex: 1;
    }
  }

  .charts {
    background: #F9F9F9;
    box-shadow: 0 1px 20px 1px rgba(0, 0, 0, 0.25);
    height: 100%;

    .total {
      display: flex;
      justify-content: center;
      padding: 20px;

      > div {
        width: 190px;
        height: 190px;
        color: #fff;
        display: flex;
        align-items: center;
        position: relative;

        .title {
          left: 10px;
          top: 10px;
          position: absolute;
        }

        .value {
          text-align: center;
          font-size: 40px;
          width: 100%;
          line-height: 70px;
        }

        &:first-child {
          margin-right: 20px;
        }
      }
      .spent {
        background: #E53935;
      }

      .income {
        background: #8BC34A;
      }
    }
    .total-chart {
      display: flex;
      justify-content: center;
      .canvas-wrapper {
        width: 380px;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }

  .statistics {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-right: -10px;
  }

  .items {
    width: 460px;
    margin: 0 auto;
    padding: 20px 0 20px 5px;

    .item {
      float: left;
      width: 140px;
      height: 170px;
      background: #fff;
      margin-right: 10px;
      margin-bottom: 10px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .icon {
        height: 70px;
      }
      .title {
        padding-left: 10px;
        padding-top: 10px;
      }

      .sum {
        background: #016EFF;
        box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        font-size: 12px;
        color: #FFFFFF;
        letter-spacing: 1px;
        text-align: center;
        margin: 10px auto 15px;
        padding: 5px 15px;
      }
    }
  }

}